@model WebBanHangOnline.Models.EF.Customer

@{
    ViewBag.Title = "Khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/products" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/customers" class="nav-link">@ViewBag.Title</a>
        </li>

    </ul>
}

<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Xác nhận xoá @ViewBag.Title</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Delete", "Customers", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên khách hàng: </label>
                            @Html.DisplayFor(model => model.Name)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Số điện thoại: </label>
                            @Html.DisplayFor(model => model.Phone)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Địa chỉ: </label>
                            @Html.DisplayFor(model => model.Address)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email: </label>
                            @Html.DisplayFor(model => model.Email)
                        </div>
                        



                        <div class="form-group">
                            <button type="submit" value="Delete" class="btn btn-sm btn-danger btnDelete">Xoá</button>
                            <a href="/admin/customers" class="btn btn-sm btn-primary">Quay lại</a>
                        </div>
                    </div>

                }

            </div>
        </div>

        <div class="card-footer">

        </div>
    </div>


</section>
